@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

:root {
    --font-body: 'montserrat', sans-serif;
    --color-theme-1: #f4e0cb;
    --color-theme-1: #000;
    --color-theme-2: #E2007A;
    --color-theme-3: #FFED00;
    --color-text: #000;
    font-family: var(--font-body);
	color: var(--color-text);

	--font-size-body: 1rem;
	--font-size-small-header: 1.25rem;
	--font-size-header: 1.5rem;
	--font-size-page-header: 2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-break: auto-phrase;
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: #fff;
	background-size: cover;
	background-position: 50% 50%;
	background-image: url('/images/textures/1-nopotty.webp');
}

@font-face {
	font-family: 'univers-black-extended';
	src: url('/fonts/UniversLTStd-BlackEx.otf') format('opentype');
	font-weight: 900;
	font-style: normal;
}

h1, h2, p {
	font-weight: 400;
}

h1 {
	font-size: var(--font-size-header);
}

h2 {
	font-size: var(--font-size-small-header);
}

p {
	line-height: 1.5;
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
    
    &:hover {
        text-decoration: underline;
    }
}

@media (min-width: 680px) {
	:root {
		--font-size-body: 1.25rem;
		--font-size-small-header: 1.5rem;
		--font-size-header: 2rem;
		--font-size-page-header: 3rem;
	}
}